
{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

    <h1 class="display-5 mt-4">Летим {{ city }}</h1>
    <p class="mb-4">{{ info }}</p>
    <!-- CARDS -->

{% endblock %}

{% block tour %}
    <div class="row mt-5">

      {% for key, value in hotels_city.items %}

      <div class="col-4">
        <div class="card mb-4">
          <img src="{{value.picture}}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{value.title}}</h2>
            <p class="card-text">{{value.description}}</p>
            <a href="/tour/{{key}}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>

       {% endfor %}

    </div>
{% endblock %}
